#cont-24{
    width: 400px;
}

@media screen and (max-width: 576px) {
   
    .cont-100{
        margin-left: 60px;
        width: 400px;
    }
   #cont-26{
    display: grid;
   }
   #cont-27{
    margin-left: -45px;
   }

   #cont-24{
    width:330px;
   }
  #cont-28{
    margin-top: 420px;
    margin-left: -540px;
    width: 600px;
}
}