img{
    width: 500px;
}
#container{
display: flex;
}
@media screen and (max-width:576px){
      #container{
        display:grid;
        margin-left: -2px;
      }
      img{
        margin-left: -5px;
        width: 70%;
        margin-top: -50px;
      }
      #cont-50{
        margin-top: -250px;
        margin-bottom: 300px;
        width: 50px;
        height: 45px;
      }
      #cont-51{
      margin-left: -0px;
      margin-top: -95px;
      width: 40px;
      height: 40px;
      }
}